html, body { height: 100% !important; min-height: 100% !important; }
html { overflow-y: scroll; }
body { color: #fff; background: #111 url(../img/bg_full.jpg) repeat-y center top; font-family: 'Roboto', Helvetica, sans-serif !important; font-weight: 100; /*-webkit-background-size: cover;*/ }
body.fullscreen { padding-top: 16px; }
#app a { outline: 0 !important; }
#app button, #app input[type=submit] { font-family: 'Roboto', Helvetica, sans-serif; font-size: 12px; }
#app button i { margin-right: 4px; }

/* Global */
#app h1, #app h2, #app h3, h4, h5, h6 { font-family: 'Roboto', Helvetica sans-serif; font-weight: 100 !important; }
#canvas               { height: 100%; }
#canvas > .container  { height: 100%; }
#main                 { max-width: 800px; margin: 0 auto; padding: 50px 0 30px 0; display: none; }
#app h2.pg            { color: rgba(255,255,255,.8); font-size: 26px; padding: 10px 15px 0 15px; }
#app h2.pg > i        { color: rgba(220,255,220,1); margin-right: 5px; }
#app h2.pg em         { font-size: 16px; opacity: .8; font-style: normal; font-weight: 100 !important; position: relative; top: 11px; }
#app h2.pg small      { color: rgba(255,255,255,.7); }
#app h2.pg .button    { position: relative; margin: 0; position: relative; top: -9px; }
#app h3.pg            { color: rgba(255,255,255,.8); font-size: 18px; padding: 0px 15px 0 15px; margin: -5px 0; }
#app h3.pg small      { color: rgba(255,255,255,.8); font-size: 12px; }
#app h3.pg small span { margin: 0 10px; }
#app h4.pg            { color: rgba(255,255,255,.8); font-size: 15px; padding: 0px 15px 0 15px; margin: -5px 0; }
#app h5.pg            { color: rgba(255,255,255,.8); font-size: 13px; padding: 0px 15px 0 15px; margin: -5px 0; }
#app h6.pg            { color: rgba(255,255,255,.8); font-size: 11px; padding: 0px 15px 0 15px; margin: -5px 0; }
#app div.pg           { padding: 0 15px; }
#app div.pg p         { font-size: 13px; color: rgba(255,255,255,.8); font-weight: 100; }
#app hr               { opacity: .1; }
#app table            { width: 100%; border: 0; background: transparent; }
#app table td         { color: rgba(255,255,255,.9); padding-left: 15px; }
#app table th         { color: rgba(255,255,255,.9); padding-left: 15px; line-height: 140%; }
#app table thead      { background: transparent; }
#app table thead th   { text-align: center; }
#app table td a       { color: rgba(255,255,255,.9); }
#app table td.slim    { width: 1%; }
#app table td.check input { margin: 0; padding: 0; }
#app table td.fade    { color: rgba(255,255,255,.6); }
#app table td.fade a  { color: rgba(255,255,255,.6); }
#app table td.s       { font-size: 12px; }
#app table td.r       { text-align: right; }
#app table td.l       { text-align: left; }
#app table th.r       { text-align: right; }
#app table th.l       { text-align: left; }
#app table th         { color: #fff; }
#app table label      { margin: 0; padding: 0; font-weight: normal; }
#app table tr.even, #app table tr.alt, #app table tr:nth-of-type(even) { background: rgba(255,255,255,.05); }
#app .not-found       { margin: -20px 0 60px 0; padding: 20px; background: rgba(0,0,0,.2); color: rgba(255,105,105,.8); font-family: 'Roboto', sans-serif; font-weight: 100 !important; border-bottom: 1px solid rgba(255,255,255,.1); }
#app .warning         { margin: -20px 0 60px 0; padding: 20px; background: rgba(0,0,0,.2); color: rgba(255,155,0,.8); font-family: 'Roboto', sans-serif; font-weight: 100 !important; border-bottom: 1px solid rgba(255,255,255,.1); }
strong.mvp            { color: rgba(100,255,100,.8); }
#app .button-actions  { text-align: center; }
#app .button-actions .button { margin-bottom: 0; }
#app h3 .photo        { width: 60px; height: 60px; border-radius: 30px; background: rgba(255,255,255,.2) no-repeat center center; -webkit-background-size: cover; background-size: cover; border: 3px solid #1a1a1a; display: inline-block; }


/* Forms */
form fieldset { border: 0; padding: 0; }
form fieldset h3 { font-size: 18px; color: rgba(255,255,255,.9); padding-left: 15px; }
form label { color: rgba(255,255,255,.9); padding: 7px 0 4px; }
input[type=text], input[type=password], input[type=email] { background: rgba(255,255,255,.5); border-radius: 3px; border-color: rgba(255,255,255,.1); }
select { background: rgba(255,255,255,.5); border-radius: 3px; border-color: rgba(255,255,255,.1); }
input[type=file] { color: #fff; }
::-webkit-input-placeholder { color: #555; }
:-moz-placeholder { color: #555; }
::-moz-placeholder { color: #555; }
form .actions { text-align: center; }

/* Alerts */
.alert        { width: 100%; background: rgba(40,100,180,.8); padding: 15px 0; z-index: 101; }
.alert p      { color: #fff; padding: 0; margin: 0; font-size: 13px; text-align: center; }
.alert-danger { background: rgba(220,0,0,.6); }
.alert-success { background: rgba(0,220,0,.2); }
.alert p { color: #fff; padding: 0; margin: 0; font-size: 13px; }
#app .auth .alert { position: absolute; top: 0; left: 0; width: 100%; background: rgba(40,100,180,.8); padding: 15px 0; }

/* Header */
#hd1           { position: fixed; top: 0; left: 0; width: 100%; background: rgba(20,20,20,.9); text-align: center; z-index: 99; height: 50px; overflow: hidden; }
#hd1 h1        { color: #fff; font-family: 'Lobster Two', Helvetica; margin: 0; padding: 10px 10px 12px 10px; font-weight: normal; font-size: 21px; }
#hd1 a         { color: #fff; text-decoration: none; }
#hd1 a.refresh { font-size: 15px; margin-left: 8px; position: relative; top: -1px; opacity: .6; }
#hd1 .icon           { top: 1px; position: absolute; font-size: 26px }
#hd1 .icon.menu-icon { left: 10px; top: 3px; }
#hd1 .icon.stats     { right: 1px; padding: 10px 15px; }
body.fullscreen #hd1 { padding-top: 16px; height: 66px; }
body.fullscreen #hd1 .icon { top: 17px; }
body.fullscreen #hd1 .menu-icon { top: 19px; }


/* Navigation */
#nav          { position: fixed; top: 0; bottom: 0; left: -260px; width: 260px; height: 100%; z-index: 100; background: #111; -webkit-transform: translate3d(0,0,0); padding-top: 16px; }
#nav .refresh { position: relative; top: -4px; }
#nav ul       { list-style-type: none; margin: 0; padding: 10px 20px; }
#nav li       { margin: 0; padding: 0; }
#nav li.sep   { border-top: 1px solid rgba(255,255,255,.1); margin-top: 10px; padding-top: 6px; }
#nav a        { display: block; color: #fff; padding: 4px 0; color: rgba(255,255,255,.8); }
#nav a i      { width: 20px; display: inline-block; }
#nav hr       { margin-bottom: 5px; }
body.fullscreen #nav { padding-top: 32px; }

	/* Meta */
	#nav .meta   {}
	#nav h3      { color: rgba(255,255,255,.9); font-size: 16px; padding-left: 10px; position: relative; top: 5px; }
	#nav h3 em   { font-style: normal; }
	#nav .photo  { width: 40px; height: 40px; border-radius: 20px; background: rgba(255,255,255,.2) no-repeat center center; -webkit-background-size: cover; background-size: cover; border: 3px solid #1a1a1a; margin: 0 auto; }

	/* Animate menu */
	#main, #hd1, #nav                                      { -webkit-transform: translate3d(0px, 0px, 0);   -ms-transform: translate(0px, 0px);   transform: translate(0px, 0px); -webkit-transition: 0.15s ease; transition: 0.15s ease; }
	#main.menu-active, #hd1.menu-active, #nav.menu-active  { -webkit-transform: translate3d(260px, 0px, 0); -ms-transform: translate(260px, 0px); transform: translate(260px, 0px); }

	/* Off canvas */
	#off-canvas { position: fixed; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: translate3d(0,0,0); background: rgba(0,0,0,.5); z-index: 99; display: none; }
	#off-canvas.menu-active { -webkit-transform: translate3d(260px, 0px, 0); -ms-transform: translate(260px, 0px); transform: translate(260px, 0px); display: block; }


/* Dashboard */
#app .dashboard { padding-top: 0; }

	#app .dashboard .event { min-height: 84px; color: rgba(255,255,255,.9); background: rgba(100,255,100,.1); padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid rgba(205,255,205,.1); transition: background-color 0.5s ease; }
	#app .dashboard .next-event { background: rgba(255,125,0,.1); }
	#app .dashboard .event-cancelled { background: rgba(255,100,100,.1); }
	#app .dashboard .event-confirmed { background: rgba(100,255,100,.1); }
	#app .dashboard .last-event { background: rgba(255,125,0,.1); }
	#app .dashboard .event h2 { color: rgba(155,255,155,.9); font-size: 16px; text-align: right; margin: 0; }
	#app .dashboard .event h3 { color: rgba(255,255,255,.9); font-size: 16px; text-align: left; margin: 0; font-weight: 400 !important; }
	#app .dashboard .event a { color: rgba(255,255,255,.9); }
	#app .dashboard .event h3.no { color: rgba(255,100,100,.9); text-align: center; }

		/* Confirm attendance */
		#app .dashboard .event .confirmation { padding-top: 8px; font-size: 14px; }
		#app .dashboard .event .confirmation .button { padding: 7px 10px; margin-bottom: 0; display: inline-block; width: auto; }

		/* Attendance */
		#app .dashboard .event .attendance { padding-top: 16px; font-size: 12px; color: rgba(240,240,240,.9); }
		#app .dashboard .event .attendance em   { font-style: normal; margin-right: 10px; }
		#app .dashboard .event .attendance span { font-weight: 100; font-weight: bold; }
		#app .dashboard .event .attendance span.attendees { color: rgba(155,255,155,.9); }
		#app .dashboard .event .attendance span.invitees  { color: rgba(255,145,0,.6); }

		/* Modal */
		#app .reveal-modal ul.invitees { list-style-type: none; margin-left: 0; }
		#app .reveal-modal ul.invitees li { margin: 5px 0; color: rgba(255,145,0,.8); }
		#app .reveal-modal ul.invitees li i { margin-right: 5px; }
		#app .reveal-modal ul.invitees li.confirmed { color: rgba(100,255,100,.9); }
		#app .reveal-modal ul.invitees li.cancelled { color: rgba(255,100,100,.8); }

	/* Photo */
	#app .info        { text-align: center; margin: -20px 0; }
	#app .info .photo { width: 70px; height: 70px; border-radius: 35px; background: rgba(255,255,255,.2) no-repeat center center; -webkit-background-size: cover; background-size: cover; border: 4px solid #1a1a1a; margin: 0 auto; }
	#app .info h3     { color: #eee; font-size: 14px; text-shadow: 0 1px 5px rgba(0,0,0,.5); margin-bottom: 0; display: none; }
	#app form .photo  { width: 70px; height: 70px; border-radius: 35px; background: rgba(255,255,255,.2) no-repeat center center; -webkit-background-size: cover; background-size: cover; border: 4px solid #1a1a1a; margin: 0 auto; }

	/* Stats */
	#app .stat-row { padding: 15px; }
	#app .stat { position: relative; z-index: 1; text-align: center; }
	#app .stat input[type=text] { display: none; }
	#app .stat .input {
		top: 42px; left: 50%; margin: 0 0 0 -40px !important; text-align: center !important; position: absolute; color: #fff;
		font-size: 20px !important; font-family: 'Roboto', Helvetica, sans-serif !important; font-weight: 100 !important;
		box-shadow: none !important; text-shadow: 0 0 10px rgba(255,255,255,.8); text-align: center; width: 80px;
	}
	#app .stat i { position: absolute; top: 10px; left: 50%; margin-left: -8px; font-size: 26px; color: #fff; opacity: .7; }
	#app .stat .icon-mvp { color: #8dd700; }
	#app .stat .icon-matches { color: #48a4ff; }
	#app .stat .icon-efficiency { color: #f3bb00; }
	#app .stat .icon-sets { color: #52e3c6; }
	#app .stat p { position: absolute; top: 70px; left: 50%; width: 50px; margin-left: -23px; color: rgba(255,255,255,.9); font-weight: 100; font-size: 14px; }

		/* Circle */
		#app .stat .rotate             { -webkit-animation: spin 1s 1 linear; }
		#app .stat .rotate-reverse     { -webkit-animation: spinreverse 1s 1 linear; }
		@-webkit-keyframes spin        { 0%  {-webkit-transform: rotate(0deg);}   100% {-webkit-transform: rotate(360deg);} }
		@-webkit-keyframes spinreverse { 0%  {-webkit-transform: rotate(360deg);} 100% {-webkit-transform: rotate(0deg);} }


/* Event list */
#app .events .not-found { margin: -20px 0 60px 0; padding: 20px; background: rgba(0,0,0,.2); color: rgba(255,155,155,.8); font-family: 'Roboto', sans-serif; font-weight: 100 !important; border-bottom: 1px solid rgba(255,255,255,.1); }
#app .add-event { margin: -35px 0 20px 0; text-align: center; }
#app .add-event .button { font-size: 30px; padding: 15px 24px; }
#app .event-list { list-style-type: none; margin: -20px 0 60px 0; padding: 0; background: rgba(0,0,0,.2); }
#app .event-list li { color: rgba(255,255,255,.9); border-bottom: 1px solid rgba(255,255,255,.2); padding: 20px 0 20px; }
#app .event-list h3 { color: rgba(255,255,255,.9); font-size: 16px; margin: 0 0 10px 0; }
#app .event-list h3 a { color: rgba(255,255,255,.7); }
#app .event-list h3 .button { padding: 6px 11px; position: relative; top: -3px; margin: 0; }
#app .event-list h6         { font-size: 13px; color: rgba(255,255,255,.6); margin: 0; }
#app .event-list h6 strong { display: block; padding-top: 10px; font-size: 11px; }
#app .event-list .stats { width: 64px; text-align: right; }
#app .event-list .stats i { margin-right: 3px; }
#app .attending-count { color: rgba(100,220,100,.8); margin-right: 2px; }
#app .invited-count { color: rgba(255,120,0,.8); margin-left: 2px }
#app .event-list .mvp { color: rgba(100,185,100,.9); }
#app .event-list .mvp.no { color: rgba(255,255,2555,.6); }

	/* Creating event */
	#app .player-picker { height: 100px; }
	#app .player-picker li { margin-bottom: 0; padding-bottom: 0; }
	#app .player-picker li label { text-overflow: ellipsis; width: 50%; white-space: nowrap; color: rgba(255,255,255,.9); }


/* Event */
#app .event { padding-bottom: 60px; }
#app .match-playing {}
#app .match-playing .button-group { opacity: .7; }
#app .match-playing .button-group.vs { text-align: right; }
#app .match-playing .button-group .button { padding: 20px 14px; margin-bottom: 0; height: 58px; }
#app .match-playing .button-group span.button { padding: 0; text-align: center; width: 40px; height: 58px; display: inline-block; }
#app .match-playing .button-group span.button input { border: 0; padding: 0; margin: 0; text-align: center; box-shadow: none; background: transparent; position: relative; top: 10px; }
#app .match-add-actions { text-align: center; }
#app .match-add-actions button { padding: 15px 80px; width: auto; }

	/* Invitees */
	#app .event .invitees-table i            { margin-right: 5px; }
	#app .event .invitees-table tr.cancelled { opacity: .6; text-decoration: line-through; }
	#app .event .invitees-table i.confirmed  { color: rgba(100,220,100,.8); }
	#app .event .invitees-table i.cancelled  { color: rgba(200,50,50,.8); }
	#app .event .invitees-table i.unknown    { color: rgba(255,255,255,.7); }
	#app .invitees-table .sent-indicator     { color: rgba(100,220,100,.8); margin-left: 5px; }

	/* Event results */
	#app .event-results .event-result { color: rgba(255,255,255,.8); font-size: 14px; padding: 10px 0; }
	#app .event-results .event-result.sep { border-top: 1px solid rgba(100,255,255,.1); }
	#app .event-results .event-result.sep2 { border-top: 2px solid rgba(100,255,255,.1); }
	#app .event-results .event-result.sep3 { border-top: 3px solid rgba(100,255,255,.2); }
	#app .event-results .event-result a { color: rgba(255,255,255,.8); }
	#app .event-results .event-result span.winner { font-weight: bold; color: rgba(100,205,100,.7); }
	#app .event-results .event-result span.loser { opacity: .7; color: rgba(255,100,100,.7); text-decoration: line-through; font-weight: normal; }


/* Invitations */
#app .invitations table

	/* Confirmation */
	#app .confirmation-form {}
	#app .confirm-invitation h3 { margin-bottom: 6px; }
	#app .confirm-invitation h5 { margin-bottom: 6px; font-family: Helvetica; }
	#app .confirm-invitation h5 em { font-style: normal; }
	#app .confirm-invitation p { margin: 0 0 12px; }
	#app .confirm-invitation p em { font-style: normal; }
	#app .confirmation-form .button { padding: 0; width: auto; width: 64px; height: 64px; border-radius: 32px; font-size: 30px; margin: 0 20px; }


/* Stats */
#app .stats-table { width: 100%; background: transparent; border: 0; color: rgba(255,255,255,.9); }
#app .stats-table tbody th { text-align: left; color: rgba(255,255,255,.9); font-weight: 100; font-size: 17px; vertical-align: top; line-height: 160%; }
#app .stats-table tr { background: transparent; font-size: 26px; }
#app .stats-table td { color: rgba(255,255,255,.9); font-weight: 400; font-size: 17px; line-height: 160%; }
#app .stats-table td span { display: block; font-size: 14px; }
#app .stats-table td em { font-style: normal; display: block; font-weight: 100; font-size: 13px; opacity: .7; line-height: 120%; }


/* Users */
#app .users  {}
#app .user-table {}
#app .user-table td { padding: 15px 10px; }



/* Auth */
#app .auth      { text-align: center; }
#app .auth #hd1 { display: none; }
#app .auth #nav { display: none; }
#app .auth h1   { color: #fff; font-family: 'Lobster Two', Helvetica; margin: 0 0 30px 0; font-size: 42px; text-shadow: 0 1px 5px rgba(0,0,0,.5); }
#app .auth form { max-width: 320px; margin: -15px auto 0 auto; }
#app .auth .actions { margin: 20px 0 30px 0; }
#app .auth p.copy { color: #fff; text-shadow: 0 1px 5px rgba(0,0,0,.5); font-size: 12px }
#app .auth p.copy a { color: #fff; }
#app .auth p.copy .refresh { font-size: 26px; position: relative; top: 5px; }


/* Modal */
#app .reveal-modal    { background: rgba(0,0,0,.8); border-color: rgba(255,255,255,.2); padding: 15px 15px 3px 15px; }
#app .reveal-modal h2 { margin: -5px 0 12px 0; padding: 0 0 6px 0; font-size: 20px; color: rgba(255,255,255,.9); border-bottom: 1px solid rgba(255,255,255,.1); }
#app .reveal-modal p  { color: rgba(255,255,255,.8); font-size: 13px; margin: 0 0 12px 0; }
#app .reveal-modal ul { color: rgba(255,255,255,.8); font-size: 13px; margin-bottom: 12px; }



/* Loader */
#nprogress .bar { background: #c00 !important; }
#nprogress .peg {  box-shadow: 0 0 10px #c00, 0 0 5px #c00 !important; }
#nprogress .spinner-icon {  border-top-color:  #c00 !important;  border-left-color: #c00 !important; }
#nprogress .spinner { top: auto !important; bottom: 15px; }


/* Debug */
.xdebug-var-dump { background: rgba(255,255,255,.8); padding: 10px; font-size: 11px; }
